.logo-navbar{
    max-width: 80px;
}

.navbar-collapse{ 
    justify-content: flex-end;
}

.nav-link{
    font-size: 16px;
    color: rgb(154, 205, 50);

}

.nav-link , .navbar-brand{ 
    color: #f4f4f4; 
    cursor: pointer;
}

.nav-link:hover{
     background: #1a1919; 
     color: white;
}

.cover{
    background-color: rgb(154, 205, 50);
}

#overlay{
    color: white;
}

#first-button{
    cursor: pointer;
    border:1px  solid #292827;
    border-radius: 25px;
    background-color: rgb(154, 205, 50);
    color:#fff;
}

hr{
    color: rgb(245, 250, 246);
}

/*header style*/
header {
    background-image: url(images/pexels-rachel-claire-6146168.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h1{
    color: white;
    font-size: 80px;
}